header {
    color: rgb(235, 229, 234);
    background-color: black;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(235, 229, 234);
    margin: 0;
    padding: 0;
    border: 0cap;
}
h1 {
    font-size: 55px;
    opacity: 1;
}
h2{
    font-size: 42px;
    font-weight: normal;
    text-align: center;
    padding: 10px;
}
h3 {
    font-size: 25px;
    font-weight: normal;
    color: rgb(15, 15, 15);
    text-align: center;
    margin: auto;
}
h4 {
    font-weight: lighter;
}
.center{
    margin: 100px auto;
    background-color: rgb(209, 203, 207);
    width: 40% ;
    padding: 40px 0px;
    text-align: center;
}
.center img{
    width: 100px;
    height: 100px;
    margin: 25px;
}
.img__rover {
    background-image: url(images/rover.jpg);
    background-size: cover;
    margin: 50px auto;
    height: 425px;
    width: 540px;
    text-align: center;
  }
.img__website {
    background-image: url(images/webpage.png);
    background-size: cover;
    margin: 50px auto;
    height: 425px;
    width: 540px;
    text-align: center;
}
.img__custom {
    background-image: url(images/keyboard.jpg);
    background-size: cover;
    margin: 30px auto;
    height: 425px;
    width: 540px;
    text-align: center;
}
.img__filter {
    background-image: url(images/Filter.png);
    background-size: cover;
    margin: 30px auto;
    height: 425px;
    width: 540px;
    text-align: center;
}
h5{
    font-size: 25px;
    font-weight: normal;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    padding: 70px 30px 10px;
}
.img__description {
    font-size: 18;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s, visibility .5s;
    height: 71%;
    width: 89%;
    margin-top: -41px;
    padding: 10px 30px;
    line-height: 1.5;
  }
div u{
    color: white;
  }
div:hover .img__description {
    visibility: visible;
    opacity: 1;
  }
div:hover h5 {
    visibility: visible;
    opacity: 1;
}
.img__rover:hover {
    background-image: url(images/dimmedrover.jpg);
}
.img__website:hover {
    background-image: url(images/dimmedwebpage.png);
}
.img__custom:hover {
    background-image: url(images/dimmedkeyboard.jpg);
}
.img__filter:hover{
    background-image: url(images/dimmedFilter.png);
}
.center p{
    font-size: 18px;
    margin: 10px auto 20px;
}
button {
    background-color: rgb(235, 229, 234);
    border: none;
}
hr {
    opacity: 0.5;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
li{
    margin: auto;
}
li:first-child{
   text-align: left;
}
li:not(:first-child){
    font-size: 25px;
    width: 100px;
    text-align: center;
    margin-top: 67px;
}
a{
    text-decoration: none;
    color: rgb(235, 229, 234);
    border-radius: 10px;
    
}
a:hover{
    font-size: larger;
    opacity: 75%;
}

footer{
    margin: auto 30px 5px -15px;
    text-align: right;
    width: 100%;
}
footer img{
    width: 50px;
    margin-left: 8px;
}

